@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Opem Sans', sans-serif;
}

:root {
    --background: #262626;
    --background-rgba: rgba(5, 5, 5, .9);
    --box-shadow1: rgba(0, 0, 0, .5);
    --box-shadow2: rgba(0, 0, 0, .7);
}

body {
    height: 100vh;
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: var(--box-shadow1);
}

.clock div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: var(--background-rgba);
    box-shadow: var(--box-shadow2);
    border-radius: 7px;
    letter-spacing: 3px;
}

.clock span {
    font-weight: bolder;
    font-size: 60px;
}

.clock span.tempo {
    font-size: 13px;
    text-transform: uppercase;
}